/*z-index layers*/
/*0 - Static BG Elements*/
/*1 - Interactive BG Elements*/
/*2 - Content*/
/*3 - UI*/

* {
  box-sizing: border-box;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

/*General Font*/
@font-face {
	font-family: 'Recursive';
	src: url('./assets/fonts/Recursive_VF_1.077--subset-GF_latin_basic.woff2') format('woff2 supports variations'),
       url('./assets/fonts/Recursive_VF_1.077--subset-GF_latin_basic.woff2') format('woff2-variations');
       font-weight: 300 1000;
       font-variation-settings: 'MONO' var(--mono), 'CASL' var(--casl), 'wght' var(--wght) 300 700, 'SLNT' var(--slnt), 'CRSV' var(--CRSV);
}

@font-face{
  font-family: 'Work Sans';
  src: url('./content/WorkSans-Regular.ttf') format("truetype");
}

:root{
  --mono: 0;
  --casl: 0;
  --wght: 700;
  --slnt: 0;
  --csrv: 0;
  /* https://lospec.com/palette-list/hydrangea-11 */
  --col-1: #413652;
  --col-2: #6f577e;
  --col-3: #986f9c;
  --col-4: #c090a7;
  --col-5: #d4beb8;
  --col-6: #eae4dd;
  --col-7: #c9d4b8;
  --col-8: #90c0a0;
  --col-9: #6f919c;
  --col-10: #62778c;
  --col-11: #575f7e;
  --bdr-d: rgb(15, 15, 21);
  --t-bdr-d: rgba(15, 15, 21, 0.9);
  --res-unit: min(1vw, 2vh);
  --res-munit: max(1vw, 2vh);
  --vh: 1vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: var(--col-6) var(--col-1);
}
*::-webkit-scrollbar {
  width: 17px;
}
*::-webkit-scrollbar-track {
  background: var(--col-1);
  margin: 17px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--col-6);
  /* border: solid var(--col-1);
  border-width: 16px 0; */
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ButtonStyle{
  background-color: rgb(45, 45, 63);
  border-left: 4px solid var(--col-2);
  border-top: 4px solid var(--col-2);
  border-right: 4px solid var(--col-1);
  border-bottom: 4px solid var(--col-1);
}

.PinkBorder{
  border-left: 1px solid var(--col-4);
  border-top: 1px solid var(--col-4);
  border-right: 1px solid var(--col-3);
  border-bottom: 1px solid var(--col-3);
}

.I{
  font-style: italic;
}
.B{
  font-weight: 400;
}

.DitheredGradientBox{
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
  width: 100%;
}
.DitheredGradient{
  width: 100%;
}

#desktop-wrapper{
  width: 100vw;
  height: 100vh;
  padding: calc(var(--res-unit)*2);
  position: relative;
  /* background-image: url('./assets/structural-images/p-hase-desktop-bg.png'); */
  background-color: var(--bdr-d);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

#modal-overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: var(--t-bdr-d);
  z-index: 4;
}
  #modal-content-wrapper{
    width: calc(100% - calc(var(--res-unit)*4));
    height: 78%;
    position: absolute;
    left: calc(var(--res-unit)*2);
    bottom: calc(var(--res-unit)*2);
    background-color: var(--bdr-d);
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: auto;
    padding: var(--res-munit);
  }

#desktop-menu-wrapper{
  width: 100%;
  height: 13%;
}
  #desktop-menu-title-wrapper{
    width: 100%;
    height: 50%;
    border-bottom: none;
    background-color: var(--t-bdr-d);      
    display: flex;
    justify-content: space-between;
    border-top-left-radius: calc(var(--res-unit)*1.5);
  }
    #title-gif-left{
      border-top-left-radius: calc(var(--res-unit)*1.5);
    }
    .TitleGif:active{
      filter: invert();
     }
     #menu-title{
      font-family: 'Recursive';
      margin: 0;
      padding: calc(var(--res-unit)*0.2) 0;
      color: var(--col-6);
      font-weight: 400;
      font-size: calc(var(--res-unit)*2);
      font-variation-settings: 'MONO' 0;
      align-content: center;
      justify-content: center;
     }
  #desktop-menu-link-wrapper{
    width: 100%;
    height: 50%;
    background-color: var(--t-bdr-d);
    display:flex;
    border-bottom-right-radius: calc(var(--res-unit)*1.5);
  }
    .DesktopMenuButton{
      height: 100%;
      font-size: calc(var(--res-unit)*2);
      color: var(--col-6);
      padding: 0 var(--res-unit);
      text-decoration: none;
    }
    .DesktopMenuButton:active{
      filter: invert();
    }
    .ActiveButton {
      filter: invert();
    }
    .AOCButton{
      height:fit-content;
    }

.ContentWindow{
  width: calc(100% - calc(var(--res-unit)*4));
  height: 78%;
  position: absolute;
  bottom: calc(var(--res-unit)*2);
}
  .ContentWrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    background-color: var(--t-bdr-d); 
  }
    .ContentTitle{
      font-family: 'Recursive';
      margin: 0;
      color: var(--col-6);
      font-weight: 600;
      font-size: calc(var(--res-unit)*2.5);
      font-variation-settings: 'MONO' 1;
      text-align: center;
      height: fit-content;
      background-color: transparent;
    }
    .ListingWrapper{
      display: flex;
      flex-direction: column;
      overflow: auto;
    }
      .GalleryListing{
        display: flex;
        align-items: center;
        flex-direction: row;
        height: calc(var(--res-unit)*15);
        font-size: calc(var(--res-unit)*2);
        transition: font-variation-settings 1s;
        justify-content: center;
        font-variation-settings: 'MONO' 0;
        border-width: 0;
        border-bottom-width: 1px;
      }
      .GalleryListing:active {
        background-color: var(--t-bdr-d);
        filter: invert();
      }
      .GalleryListing:hover{
        font-variation-settings: 'MONO' 0.5;
      }
      .GalleryLink:nth-child(even) > .GalleryListing{
        flex-direction: row-reverse;
      }
        .ListImg{
          border-radius: 30%;
          padding: 0.5vw;
          height: 100%;
          transition: 1s;
        }
        .GalleryListing:hover > .ListImg{
          border-radius: 0%;
        }
        .ListTitle{
          font-family: 'Recursive';
          margin: 0;
          color: var(--col-6);
          pointer-events: none;
          transform-origin: center left;
          transform: scale(1);
          transition: transform 1s;
        }
        .GalleryLink:nth-child(even) > .GalleryListing .ListTitle{
          transform-origin: center right;
        }
        .GalleryListing:hover > .ListTitle{
          transform: scale(1.2);
        }
      .ProjectListingWrapper{
        align-items: center;
      }
      .ProjectListingText{
        width: 80%;
        color: var(--col-6);
        font-size: calc(var(--res-unit)*1.5);
        font-variation-settings: 'MONO' 0;
        text-align: center;
        padding: 1vh 0;
        flex-grow: 1;
      }
      .AOCText{
        flex-grow: 0;
      }
      .ProjectListingHeading{
        font-size: calc(var(--res-unit)*2);
      }
      .ProjectListingLink{
        width: auto;
        background-color: var(--col-6);
        padding: 0 2vh;
        margin: var(--res-unit) 0;
        color: var(--col-1);
      }
      .ProjectListingBody{
        font-weight: 300;
      }
      .HeroImg{
        display: block;
        padding: 0.5vw;
        width: calc(var(--res-munit)*35);
        height: calc(calc(var(--res-munit)*35)*0.5625);
        flex-grow: 1;
      }
      .HeroVid{
        display: block;
        padding: 0.5vw;
        width: calc(var(--res-munit)*35);
        height: calc(calc(var(--res-munit)*35)*0.5625);
        flex-grow: 1;
      }
      #heroimglink{
        flex-grow: 1;
      }
      .SelectLink{
        color: inherit;
      }
      .SelectLink:hover{
        color: var(--col-8);
        cursor: pointer;
      }
      .AboutText{
        flex-direction: row;
      }
      #pressed-pic{
        border-radius: 30%;
        padding: 0.5vw;
        float: left;
        height: 100%;
      }
  #drawing-panel{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0%;
    z-index: 1;
  }


/*Mobile Style*/
@media all and (any-hover: none) {
  #mobile-wrapper{
    width: 100vw;
    height: 100vh;
    background-color: var(--bdr-d);
  }

  #mobile-menu-wrapper{
    width: 100%;
    height: 20%;
  }
    #mobile-menu-title-wrapper{
      width: 100%;
      height: 50%;     
      display: flex;
      align-items: center;
      justify-content: center;
    }
      .TitleGif{
        height: 100%;
       }
      .TitleGif:active{
        filter: invert();
       }
       #menu-title{
        font-size: calc(var(--res-munit)*2);
       }
      #mobile-menu-link-wrapper{
        width: 100%;
        height: 50%;
        background-color: var(--t-bdr-d);
        display:flex;
        justify-content: space-between;
      }
      .MobileLink{
        flex-grow: 1;
      }
      .MobileMenuButton{
        height: 100%;
        width: 100%;
        color: var(--col-6);
        font-weight: 400;
        font-size: calc(var(--res-munit)*2);
        font-variation-settings: 'MONO' 0;
        padding: 0 var(--res-unit);
        text-decoration: none;
      }
      .ContentWrapper{
        height: 80%;
        height: calc(var(--vh, 1vh) * 80);
      }
      .ProjectListingText{
        /* height: 100%; */
        font-size: calc(var(--res-munit)*1.5);
        padding: var(--res-munit);
      }
      .AboutListingText{
        height: 100%;
      }
      .GalleryListing{
        font-size: calc(var(--res-munit)*2);
        flex-direction: column-reverse;
        height: auto;
        padding: var(--res-munit);
      }
      .GalleryLink:nth-child(even) > .GalleryListing{
        flex-direction: column-reverse;
      }
      .ListTitle{
        text-align: center;
      }
      .ListImg{
        border-radius: 0%;
        width: 100%;
        height: auto;        
      }
      .ContentTitle{
        font-size: calc(var(--res-munit)*2);
      }
      .HeroImg{
        width: 90%;
        height: auto;
        position: relative;
        left: 5%;
      }
      .HeroVid{
        width: 90%;
        height: auto;
      }
      .ProjectListingWrapper{
        height: fit-content;
      }
      .ProjectListingLink{
        margin: var(--res-munit);
        padding: 0;
      }
      .ProjectListingHeading{
        width: 100%;
      }
      .ProjectListingBody{
        width: 100%;
      }
      #modal-content-wrapper{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0%;
        bottom: 0%;
      }
      .AOCText{
        height: auto;
        padding: 0%;
      }
      .DesktopMenuButton{
        font-size: calc(var(--res-munit)*2);
        padding: var(--res-munit);
      }
}